@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #24252a;
}

.menu {
  display: flex;
  justify-content: space-between;
}

nav {
  order: 1;
}

.nav-links {
  list-style: none;
}

.nav-links menu {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links menu a {
  transition: all 0.3s ease 0s;
}

.nav-links menu a:hover {
  color: #0088a9;
}

.site-categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background: #20252d;
}

li,
a {
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: #edf0f1;
}

/* RIGHT MENU */
.rm {
  display: flex;
  cursor: pointer;
  /* margin-left: auto; */
}

.heil-gitler {
  width: 1348.5px;
  height: 84.6vh;
}

.nazi {
  opacity: 30%;
  background-color: white;
  position: absolute;
  width: 50px;
  transition: 0.3sf;
}

.nazi:hover {
  transition: 0.5s;
  opacity: 100%;
}

/* ANOTHER SHIT */

.ai-hover-h1 {
  color: #edf0f1;
  font-size: 50px;
  text-align: center;
  transition: 0.7s;
  cursor: help;
}

.ai-hover-h1:hover {
  color: rgb(79, 152, 230);
  font-size: 53px;
  transition: 0.5s;
}

.ai-main {
  position: absolute;
  cursor: pointer;
  width: 100%;
}

.ai-img {
  width: 100vh;
  transition: 0.3s;
}

.ai-img:hover {
  width: 90vh;
  transition: 0.5s;
}

.ai-img1 {
  width: 88vh;
  transition: 0.3s;
}

.ai-img1:hover {
  width: 80vh;
  transition: 0.5s;
}

header {
  background: url(../home/ai-3.jpeg);
  opacity: 30%;
}

.ai-title {
  color: #edf0f1;
  opacity: 100%;
}

.ai-center {
  text-align: center;
}
